---
layout: page
---

<p class="message">
  Imagine. Create. Play.
</p>

<p>
  Embers Design Studios was founded with a few simple goals in mind. To provide the
  <a href="/products/city-of-brass">best tabletop RPG apps available anywhere
  </a> and to deliver
  <a href="/products/the-book-of-terniel">exceptional content and resources</a> for your gaming table. Whether your game is
  <a href="http://wizards.com/dnd/" target="_blank">Dungeons and Dragons</a>,
  <a href="http://paizo.com/pathfinderRPG" target="_blank">Pathfinder</a>,
  <a href="http://www.modiphius.com/mutant-chronicles.html" target="_blank">Mutant Chronicles</a>,
  <a title="What's O.L.D. is N.E.W." href="http://www.woinrpg.com/" target="_blank">W.O.I.N.</a>,
  <a href="http://www.wizards.com/default.asp?x=d20/article/srdarchive" target="_blank">d20</a>,
  <a href="http://www.sjgames.com/gurps/" target="_blank">GURPS</a> or any other tabletop pen-and-paper RPG, we are here to help you. We know what gamers are looking for because
  we are gamers who have been at this for more than two decades.
</p>

{% include mail-chimp.html %}