<style>



 body {
     background-color: white
 }
</style>


<div class="container">
	<div class="row">
        
        <div class="col-sm-2">
            box 1
        </div>

        <div class="col-sm-8">
            box 2
        </div>

        <div class="col-sm-2">
            box 3
        </div>
	</div>


</div>

