<head>
  <link href="http://gmpg.org/xfn/11" rel="profile" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />

  <title>
    {% if page.title == undefined %}
      {{ site.title }}
    {% else if %}
      {{ page.title }} | {{ site.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>

  {% include google-analytics.html %}

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fontawesome-5.0.13.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
  {% include font-includes.html %}

  <!-- Icons -->
  {% include favicons.html %}

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/{{ site.feed.path | default: 'feed.xml' }}" />

  {% include custom-head.html %}
</head>
