<nav id="sidebar-icon-links">
  <a href="https://twitter.com/embersds" target="_blank">
    <i class="fab fa-fw fa-twitter"></i>
  </a>
  <a href="https://facebook.com/embersds" target="_blank">
    <i class="fab fa-fw fa-facebook-square"></i>
  </a>
  <a href="https://reddit.com/r/embersds" target="_blank">
    <i class="fab fa-fw fa-reddit-alien"></i>
  </a>
  <a
    href="{{ site.baseurl }}/{{ site.feed.path | default: 'feed.xml' }}"
    target="_blank"
  >
    <i class="fas fa-fw fa-rss"></i>
  </a>
  <a href="https://gitlab.com/embersds" target="_blank">
    <i class="fab fa-fw fa-gitlab"></i>
  </a>

  {% comment %} Check if we have tag or search pages page active before linking
  to it. {% endcomment %} {% assign tags_page = false %} {% assign search_page =
  false %} {% for node in site.pages %} {% if node.layout == "tags" %} {% assign
  tags_page = node %} {% elsif node.layout == "search" %} {% assign search_page
  = node %} {% endif %} {% endfor %} {% if tags_page %}
  <a
    class="{% if page.url == '/tags' %}active{% endif %}"
    href="{{ site.baseurl }}{{ tags_page.url }}"
  >
    <i class="fas fa-fw fa-tag"></i>
  </a>
  {% endif %} {% if search_page %}
  <a
    class="{% if page.url == '/search' %}active{% endif %}"
    href="{{ site.baseurl }}{{ search_page.url }}"
  >
    <i class="fas fa-fw fa-search"></i>
  </a>
  {% endif %} {% include custom-icon-links.html %}
</nav>
