<div id="sidebar">
  <header>
    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
      <a href="{{ site.baseurl }}/" {% unless page.url == "/" %} onclick="window.history.go(-1); return false;" {% endunless %}>
        {% unless page.url == "/" %}
          <i class="fas fa-arrow-left back-arrow"></i>
        {% endunless %}
        <span class="side-title">{{ site.title }}</span>
        <img class="side-logo" src="/assets/img/FireLogo_600.png">
      </a>
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
    <p class="lead">{{ site.description }}</p>
  </header>
  {% include sidebar-nav-links.html %}
  {% include sidebar-icon-links.html %}
  {% include copyright.html %}
</div>